{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      TodoList
    {% endblock %}
  </title>
  <link rel="icon" href="{% static '#' %}">
  <link rel="stylesheet" href="{% static '#' %}">
</head>
<body>

{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}

{% endblock %}

{% block pagination %}
  {% include "includes/pagination.html" %}
{% endblock %}
</body>
</html>